html {
    background-color: var(--background-secondary);
    width: 100vw;
    height: 100vh;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}

.websitecard {
    background-color: var(--background-primary);
    width: 80vw;
    border-radius: 15px;
    display: flex;
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;


    img{
        height: 60px;
        width: 60px;
        border-radius: 9999px;
        margin-left: 0.5em;
        margin-top: 0.5 em;
    }

    .cardinfo {
        display: flex;
        flex-direction: column;

        label {
            border-radius: 15px;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px 10px;
            gap: 0.25em;
            margin-top: 0.5em;

            img {
                height: 23px;
                width: 23px;
                margin: 0;
            }
        }
    }

    .label-text {
        background-color: var(--accent-background);
        color: var(--acccent-foreground);
    }

    .meterwrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    
        meter {
            display: none;
        }
    
        .percentage {
            position: relative;
            font-size: var(--font-size-normal);
            font-weight: var(--font-weight-bold);
            color: var(--secondary);
            grid-area: 1 / 1;
            z-index: 2;
            text-align: center;
        }
    }
    
    .meterwrapper::before {
        content: "";
        width: 80px;
        height: 80px;
        background: conic-gradient(
            var(--acccent-foreground) 0deg,
            var(--acccent-foreground) calc(var(--progress-value) * 3.6deg),
            var(--accent-background) calc(var(--progress-value) * 3.6deg),
            var(--accent-background) 360deg
        );
        border-radius: 50%;
        grid-area: 1 / 1;
    }
    
    .meterwrapper::after {
        content: "";
        width: 60px;
        height: 60px;
        background: var(--background-primary);
        border-radius: 50%;
        grid-area: 1 / 1;
    }
    
}

footer {
    background-color: var(--background-primary);
}

li {
    list-style: none;
}

