.websitecard {
    position: relative;
    background-color: light-dark(var(--background-secondary-light), var(--background-secondary-dark));
    width: 90%;
    height: auto;
    border-radius: 15px;
    padding: 1em;
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    cursor: pointer;

    img {
        height: 60px;
        width: 60px;
        border-radius: 9999px;
        margin-left: 0.5em;
        margin-top: 0.5em;
    }

    .cardinfo {
        display: flex;
        flex-direction: column;

        label {
            border-radius: 15px;
            display: flex;
            align-items: center;
            width: fit-content;
            padding: 5px 10px;
            gap: 0.25em;
            margin-top: 0.5em;
            cursor: pointer;

            img {
                height: 23px;
                width: 23px;
                margin: 0;
            }
        }
    }

    .label-text {
        background-color: var(--accent-background);
        color: var(--acccent-foreground);
    }
}

li {
    list-style: none;
}

@media (min-width: 768px) {

    main {

        .websitecard {
            width: 500px;
            max-height: 168px;

            .progress-ring {
                height: 100%;
                width: 100%;
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
       
        .websitecard {
            width: auto;
            max-width: 420px;
        }
    }
}