article {
    width: 90%;
    background-color: light-dark(var(--background-secondary-light), var(--background-secondary-dark));
    padding: 1em;
    border-radius: 15px;
}

.inimessage {
    background-color: transparent;
}

.toegankelijkheid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    position: relative;

    h2 {
        grid-column: 1 / -1;
    }


    .niveau {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        
        p{
            margin: .5em;
        }
    }
}

.meterwrapper {
    max-width: 125px;
}

.automatischescan {

    display: grid;
    grid-template-columns: 6fr 1fr
                           1fr 3fr 3fr;
    grid-gap: 1em;
    position: relative;

    h2 {
        grid-column: 1/ 6;
    }

    h3 {
        font-weight: var(--font-weight-bold);
    }

    .scandate {
        grid-column: 6 / -1;
    }

    .meterwrapper {
        grid-column: 1 / 4;
    }

    .fouten {
        grid-column: 4 / 7; 
    }

    .aandacht {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        
        h3 {
            grid-column: 1/ -1;
        }
        p {
            display: flex;
            align-items: center;

            img {
                margin-right: .5em; 
            }
        }
    }


    label {
        border-radius: 15px;
        display: flex;
        align-items: center;
        width: fit-content;
        padding: 5px 10px;
        gap: 0.25em;
        margin-top: 0.5em;
        cursor: pointer;

        img {
            height: 23px;
            width: 23px;
            margin: 0;
        }
    }

    .label-text {
        background-color: var(--accent-background);
        color: var(--acccent-foreground);
    }
}

.pf {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .zoeken {
        h2 {
            margin-bottom: .5em;
        }
    }

    .zoek-container {
        display: flex;
        align-items: center;
        border-radius: 15px;
        background-color: light-dark(var(--background-primary-light), var(--background-primary-dark));
        width: 212px;

        img {
            width: 17px;
            height: 19px;
            margin-right: .5em;
            margin-left: .5em;
        }

        input {
            background: transparent;
            border: none;
            flex: 1;
            outline: none;
        }
    }

    .filters {

        h2 {
            margin-bottom: .5em;
        }

        .filter-buttons {
            display: flex;
            gap: 10px;
            width: 100%;
            overflow-x: auto;

            button {
                background-color: var(--info-light);
                color: var(--info);
                font-weight: var(--font-weight-semi-bold);
                border: none;
                border-radius: 15px;
                cursor: pointer;
                transition: background-color 0.3s ease, transform 0.2s ease;
                width: fit-content;
            }

            button:hover {
                background-color: var(--info);
                color: var(--info-light);
                transform: scale(1.05);
            }

            button:active {
                transform: scale(0.95);
            }

            button.active {
                background-color: var(--info);
                color: var(--info-light);
                font-weight: var(--font-weight-bold);
            }
        }
    }

    .toevoegen {
        button {
            background-color: var(--info);
            color: var(--info-light);
            font-weight: var(--font-weight-bold);
            border: none;
            border-radius: 15px;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
            width: fit-content;
        }

        button:hover {
            transform: scale(1.05);
        }

        button:active {
            transform: scale(0.95);
        }
    }
}

